.industries_first_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/industries/industries.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;

    strong {
        color: #000000 !important;
    }

    .all_main_rows {
        min-height: 400px;
    }

    h1 {
        color: #ffffff !important;
    }
    h2 {
        color: #ffffff !important;
    }
    h4 {
        color: #ea4d44;
        font-weight: 600 !important;
    }

    .navbar {
        background-color: transparent !important;
        box-shadow: none !important;

        .collapse ul li a {
            color: #ffffff !important;
        }
    }

    .card-img-overlay {
        .navbar {
            background-color: transparent !important;
            box-shadow: none !important;
        }
    }
}

.industries_content_sec {
    background-color: #ffffff;
    .our_industries_all_cards {
        height: 100%;
        a {
            color: #2393cc !important;
        }
        a:hover {
            color: #2393cc !important;
        }
    }
}

.industries_common_sec {
    a {
        color: #000000 !important;
    }
    a:hover {
        color: #2393cc !important;
    }
    .active_industries_links {
        color: #2393cc !important;
    }
}

.industries_common_for_all {
    strong {
        color: #000000 !important;
    }

    .all_main_rows {
        min-height: 400px;
    }

    h1 {
        color: #ffffff !important;
    }
    h2 {
        color: #ffffff !important;
    }

    h4 {
        color: #ea4d44;
        font-weight: 600 !important;
    }

    .navbar {
        background-color: transparent !important;
        box-shadow: none !important;

        .collapse ul li a {
            color: #ffffff !important;
        }
    }

    .card-img-overlay {
        .navbar {
            background-color: transparent !important;
            box-shadow: none !important;
        }
    }
}

.industries_retail_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/industries/retailIndustries.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.industries_call_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/industries/callCenter.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.industries_education_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/industries/educationIndustries.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.industries_health_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/industries/healthCare.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.industries_hospitality_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/industries/hospitalityIndustry.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.industries_it_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/industries/itIndustries.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.industries_music_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/industries/music.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.industries_sec,
.industries_small_div {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    // background-color: #140504;

    .card {
        // background-color: #140504 !important;
        border: none;
    }

    .Retail_img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        background: url("/assets/images/industries/retailIndustries.jpg") no-repeat;
        height: 100%;
    }

    .Hospitality_img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        background: url("/assets/images/industries/hospitalityIndustry.jpg") no-repeat;
    }

    .ItIndustries_img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        background: url("/assets/images/industries/itIndustries.jpg") no-repeat;
    }

    .CallCenters_img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        background: url("/assets/images/industries/callCenter.jpg") no-repeat;
    }

    .HealthCareIndustries_img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        background: url("/assets/images/industries/healthCare.jpg") no-repeat;
    }

    .Education_img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        background: url("/assets/images/industries/educationIndustries.jpg") no-repeat;
    }

    .Music_img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        background: url("/assets/images/industries/music.jpg") no-repeat;
    }

    .main_img {
        border-radius: 10px !important;

        .card {
            border-radius: 15px;
            // background-color: #ffffff;
        }

        h5 {
            color: #ffffff !important;
            line-height: 40px;
        }

        p {
            color: #ffffff !important;
            line-height: 30px;
        }

        .industry_btn {
            padding: 8px 20px;
            background: white;
            color: #000000;
            border: none;
            border-radius: 25px;
            font-size: 12px;
            font-weight: 700;
        }
    }

    h6 {
        line-height: 50px;
    }

    h6:hover {
        color: #eb4d44 !important;
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
        padding: 0 0 0 10px;
    }

    .tab {
        float: left;
    }

    .tab button {
        display: block;
        background-color: inherit;
        color: #000000;
        padding: 12px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }

    .tab button:hover {
        // color: #eb4d44 !important;
        color: #eb4d44 !important;
        // transform: scale(1.1);
        // transition: all 0.2s ease-in-out;
        // padding: 0 0 0 10px;
    }

    .tab button.active {
        // color: #ffffff !important;
        // border-left: 4px solid #ea4d44 !important;
        color: #eb4d44 !important;
        border-radius: 10px;
        font-weight: 700;
        // text-align: center !important;
    }

    .tabcontent {
        float: left;
        padding: 0px 12px;
        border-left: none;
    }
}

.all_industries_content_sec {
    p{
        padding-top: 15px;
    }
    .left__p {
        p {
            margin-bottom: 5px !important;
        }
        // h5 {
        //     margin-top: 40px;
        // }
        li {
            line-height: 28px;
        }
        ul {
            list-style: none;
          }
          
        li::before {
            content: "\2022";
            color: #2393cc;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }
}
