.contact_us_sec{
    
    overflow-x: hidden;
    overflow-y: hidden;
    // background-color: #e8f3e4;
}
.careers_banner_sec{
    background-color: #f3f7fa;
    overflow-x: hidden;
    overflow-y: hidden;
    // background-color: #e8f3e4;
}