.services_first_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/home/services.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;

    strong {
        color: #000000 !important;
    }

    .all_main_rows {
        min-height: 400px;
    }

    h1 {
        color: #ffffff !important;
    }
    h2{
        color: #ffffff !important;
    }

    h4 {
        color: #ea4d44;
        font-weight: 600 !important;
    }

    .navbar {
        background-color: transparent !important;
        box-shadow: none !important;

        .collapse ul li a {
            color: #ffffff !important;
        }
    }

    .card-img-overlay {
        .navbar {
            background-color: transparent !important;
            box-shadow: none !important;
        }
    }
}

.business_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/home/business.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.mobile_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/home/mobileSolutons.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.web_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/home/webSolutions.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.software_sec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/home/softwarwDevelopment.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}


.applicationDevSec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/services/appDev.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}


.artificalIntSec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/services/AI.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}


.cloudComSec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/services/cloud.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.CyberSerSec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/services/cyber.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.DataBackSec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/services/backUp.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.HelpDecSec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/services/callCen.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.IOTSec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/services/iot.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.ItConSec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/services/itCon.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.MLSec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/services/ML.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.NetworkSec {
    overflow: hidden !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: url("/assets/images/services/network.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}